<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Welcome</title>-->
<!--    <script src="/js/js/welcome.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Join A Channel</h2>-->
<!--<ul id="channel-list">-->
<!--    <li th:each="channel : ${channels}">-->
<!--        <a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}" th:text="${channel.name}"></a>-->
<!--    </li>-->
<!--</ul>-->
<!--<input type="hidden" id="userId" th:value="${user != null ? user.userId : ''}">-->
<!--<input type="hidden" id="username" th:value="${user != null ? user.username : ''}">-->
<!--&lt;!&ndash;<input type="hidden" id="userId" th:value="${user.username}">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="hidden" id="username" th:value="${user.username}">&ndash;&gt;-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="/js/js/welcome.js"></script>
</head>
<body>
<h2>Join A Channel</h2>
<ul id="channel-list">
    <li th:each="channel : ${channels}">
        <a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}" th:data-channel-id="${channel.channelId}" th:text="${channel.name}" class="channel-link"></a>
    </li>
</ul>
<input type="hidden" id="userId" th:value="${user != null ? user.userId : ''}">
<input type="hidden" id="username" th:value="${user != null ? user.username : ''}">
</body>
</html>